/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-*
hs_err_*
.DS_Store
ShapeMusic/.settings/
ShapeMusic/logs/
ShapeMusic/project/project/
ShapeMusic/project/target/
ShapeMusic/target/
ShapeMusic/test/groovyclojure/
src/.DS_Store
src/canverse/time.clj
test/.DS_Store
test/groovyclojure/test.clj
