body{
    background-color: #2E3D45;
	margin: 0 0;
    font-family: 'Open Sans', sans-serif;
}

.main{
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 600px;
    text-align: center;
}

h1 {
    color: #FFF6DB;
    padding-top: 50px;
    font-size: 6em;
    margin-bottom: -22px;
}

h2 {
    color: #FFF6DB;
    margin-bottom: 10px;
}

h2 a {
    color: beige;
}

p {
    color: #FFF6DB;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #192330;
    z-index: 50;
}

nav a {
   display: inline-block;
   width: 165px;
   height: 80%;
   margin-top: 5px;
   margin-bottom: 5px;
   line-height: 218%;
   color: #FFF6DB;

   text-decoration: none;
}

nav a:hover {
    border-radius: 10px;
    background-color: rgba(77, 94, 94, 0.5);
}

.content_section {
    position: relative;
    width: 100%;
    margin-bottom: 28px;
    background-color: #4D5E5E;
}

.content_section.problem {
    height: 600px;
}

.texture {
    position: absolute;
}

.content_section.problem .texture {
    top: 18%;
    left: 50%;
    width: 600px;
    height: 500px;
}

.problem .texture.bad {
    left: 56%;
    top: 24%;
    width: 375px;
    height: 281px;
    opacity: 1;
}

.content_section.design {
    height: 2150px;
}

.content_section.design .texture {
    top: 0;
    left: 11%;

    width: 500px;
    height: 460px;
}

.content_section.design .synths_image {
    position: absolute;
    top: 22.5%;
    left: 60%;

    width: 200px;
    height: 212px;
}

.content_section.design .canvas_image {
    position: absolute;
    top: 34%;
    left: 60%;

    width: 200px;
    height: 212px;
}

.content_section.design .loop_image {
    position: absolute;
    top: 45.5%;
    left: 20%;

    width: 212px;
    height: 224px;
}

.content_section.design .loop_toggle_image {
    position: absolute;
    top: 58%;
    left: 20%;

    width: 212px;
    height: 224px;
}

.content_section.implementation {
    height: 2380px;
}

.content_section.evaluation {
    height: 830px;
}

li {
    width: 400px;
    color: #FFF6DB;
}
.content_section.references {
    height: 260px;
}

.section_header {
    font-size: x-large;
    padding-top: 2px;
}

.section_header p {
    margin-left: 200px;
    width: 250px;
}

.section_content {
    margin-left: 210px;
}

.section_content p {
    display: block;
    width: 415px;
    padding-bottom: 12px;
}

.section_content p.subheader {
    display: inline-block;
    font-size: 1.4em;
    padding-bottom: 0px;
    padding-right: 60%;
}

.content_section p {
    padding-right: 50%;
}

.content_section p.right_justified {
    padding-left: 50%;
    padding-right: 0px;
}

.content_section .section_header p.right_justified {
    padding-left: 50%;
    text-align: right;
    margin-right: 200px;
}

.content_section .section_content p.right_justified {
    float: right;
    text-align: right;
    margin-right: 210px;
}

.anchor {
    position: relative;
    top: -50px;
}

.content_constraints {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    width: 1280px;
    margin: 0 auto;
}

.logo .texture {
    width: 600px;
    height: 500px;
    left: 26%;
    z-index: -5;
}

.synths_texture {
    position: absolute;
    left: 45%;
    top: 22%;

    width: 600px;
    height: 500px;
}

.content_section.design .drums_image {
    position: absolute;
    top: 74.5%;
    left: 55%;

    width: 400px;
    height: 421px;
}

.overtone_logo {
    position: absolute;
    left: 26%;
    top: 5%;

    width: 140px;
    height: 154px;
}

.clojure_logo {
    position: absolute;
    left: 27%;
    top: 15.5%;

    width: 100px;
    height: 100px;
}

.processing_logo {
    position: absolute;
    left: 25.8%;
    top: 23%;

    width: 140px;
    height: 140px;
}

.synth_code {
    position: absolute;
    left: 50%;
    top: 34%;
    width: 530px;
}

.timeline_image {
    position: absolute;
    left: 17%;
    top: 51.5%;

    width: 401px;
    height: 115px;
}

.loop_code {
    position: absolute;
    left: 55%;
    top: 62%;
    width: 530px;
}

.drum_texture {
    position: absolute;
    left: 20%;
    top: 73%;
    width: 300px;
}

.drum_code {
    position: absolute;
    left: 21%;
    top: 84%;
    width: 380px;
}

.references {
    text-align: center;
}

.references p {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: inherit;
}

.evaluation .texture {
    width: 600px;
    height: 500px;

    left: 50%;
    top: 21%;
}

.footer {
    text-align: center;
    margin-bottom: 40px;
}
