body{
    background-color: #2E3D45;
	margin: 0 0;
    font-family: 'Open Sans', sans-serif;
}

.main{
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 600px;
    text-align: center;
}

h1 {
    color: #FFF6DB;
    padding-top: 50px;
    font-size: 6em;
}

p {
    color: #FFF6DB;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #192330;
    z-index: 50;
}

nav a {
   display: inline-block;
   width: 165px;
   height: 80%;
   margin-top: 5px;
   margin-bottom: 5px;
   line-height: 218%;
   color: #FFF6DB;

   text-decoration: none;
}

nav a:hover {
    border-radius: 10px;
    background-color: rgba(77, 94, 94, 0.5);
}

.content_section {
    position: relative;
    width: 100%;
    margin-bottom: 28px;
    background-color: #4D5E5E;
}

.content_section.problem {
    height: 600px;
}

.content_section.design {
    height: 350px;
}

.content_section.implementation {
    height: 500px;
}

.content_section.evaluation {
    height: 300px;
}

.content_section.references {
    height: 300px;
}

.section_header {
    font-size: x-large;
    padding-top: 2px;
}

.section_header p {
    margin-left: 200px;
}

.section_content {
    margin-left: 210px;
}

.section_content p {
    display: block;
    width: 415px;
    padding-bottom: 24px;
}

.content_section.right_justified .section_header p {
    text-align: right;
    margin-right: 200px;
}

.content_section.right_justified .section_content p {
    float: right;
    text-align: right;
    margin-right: 210px;
}
