body{
    background-color: #2E3D45;
	margin: 0 0;
    font-family: 'Open Sans', sans-serif;
}

.main{
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 600px;
    text-align: center;
}

.anchor {
    position: relative;
    top: -50px;
}

li {
    width: 400px;
    color: #FFF6DB;
}

h1 {
    color: #FFF6DB;
    padding-top: 50px;
    font-size: 6em;
    margin-bottom: -22px;
}

h2 {
    color: #FFF6DB;
    margin-bottom: 10px;
}

h2 a {
    color: beige;
}

a.main_links:hover{
	color: #FFF6D8;
	text-decoration: none;
}

a.main_links:link{
	color: #FFF6D8;
	text-decoration: underline;
}

a.main_links:visited{
	color: #FFF6D8;

}

p {
    color: #FFF6DB;
}

p.subheader {
    font-size: 1.4em;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #192330;
    z-index: 50;
}

nav a {
   display: inline-block;
   width: 165px;
   height: 80%;
   margin-top: 5px;
   margin-bottom: 5px;
   line-height: 218%;
   color: #FFF6DB;

   text-decoration: none;
}

nav a:hover {
    border-radius: 10px;
    background-color: rgba(77, 94, 94, 0.5);
}

/* Content Section */

.content_section {
    width: 100%;
    margin-bottom: 28px;
    background-color: #4D5E5E;
}

.content_constraints {
	position: relative;
    width: 920px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.section_header {
    font-size: x-large;
}

.section_header p {
    width: 100%;
}

.section_content {
	left-margin: auto;
	right-margin: auto;
	vertical-align: middle;
}

.content_section p {
    display: block;
    width: 415px;
}

.content_left{
	width: 445px;
	float: left;
}

.left{
	text-align: left;
	left: 0px;
}

.content_right{
	width: 445px;
	float: right;
}

.right {
	text-align: right;
	right: 0px;
}



/* Specific sections */

/* Problem Section Divs */
.problem {
	height: 520px;
}

.problem_images_div{
	top: 50px;
	height: 480px;
}

/* Design section Divs */
.design {
	height: 1970px;
}

.design_texture_div {
    height: 375px;
}

.synth_images_div{
	height: 480px;
}

.loop_images_div{
	height: 480px;
}

.drums_image_div{
	height: 480px;
}


/* Implementation Section Divs */
.implementation {
	height: 2170px;
}

.logo_images_div{
	height: 580px;
}

.synth_code_div{
	height: 420px;
}

.timeline_image_div{
	height: 250px;
}

.loop_code_div{
	height: 300px;
}

drums_div{
	height: 500px;
}

.texture {
    position: absolute;
}


/* Evaluation Section Divs */
.evaluation{
	height: 810px;
}

.evaluation_image_div{
	height: 810px;
}


/* Reference Section Divs */
.references {
	height: 280px;
	text-align: center;
}

.references p {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: inherit;
}

/* Footer Section Div */

.footer {
    text-align: center;
    margin-bottom: 40px;
}


/* ====== IMAGES ====== */


/* Image CSS styles */

.logo .texture {
    width: 600px;
    height: 500px;
    left: 26%;
    z-index: -5;
}

.audition_image{
	position: relative;
	top: 25%;
	width: 375px;
    height: 281px;
    opacity: 1;
}

.synths_image {
	position: relative;
    vertical-align: middle;
	top: 5%;
	left: 25%;

    width: 200px;
    height: 212px;
}

.synths_texture {
    position: absolute;
    left: 45%;
    top: 22%;

    width: 600px;
    height: 500px;
}

.canvas_image {
	position: relative;
	vertical-align: middle;
	top: 55%;
	left: -20.75%;

    width: 200px;
    height: 212px;
}

.loop_image {
    position: relative;
    top: 5%;
	left: 25%;

    width: 212px;
    height: 224px;
}

.loop_toggle_image {
    position: relative;
    top: 57%;
	left: -23.50%;

    width: 212px;
    height: 224px;
}

.drums_image {
    position: relative;
	top: 20%;
	left: -7%;

    width: 400px;
    height: 421px;
}

.overtone_logo {
    position: relative;
    left: 15%;
    top: 5%;

    width: 140px;
    height: 154px;
}

.clojure_logo {
    position: relative;
    left: -13%;
    top: 32%;

    width: 100px;
    height: 100px;
}

.processing_logo {
    position: relative;
    left: -42%;
    top: 65%;

    width: 140px;
    height: 140px;
}

.synth_code {
    position: relative;
    top: 15%;
    width: 530px;
}

.timeline_image {
    position: relative;
    top: 35%;

    width: 401px;
    height: 115px;
}

.loop_code {
    position: relative;
    width: 530px;
}

.drum_texture {
    position: relative;
    left: 20%;
    top: 80%;
    width: 300px;
}

.drum_code {
    position: relative;
    left: 21%;
    top: 84%;
    width: 380px;
}

.evaluation .texture {
    position: relative;
	width: 400px;
    height: 500px;
    top: 21%;
}


/* ============================= */

